<!-- <a ui-sref="login">Login</a> -->
<table id="table_id" class="row-border hover">
	 <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tr>
        <td>1 </td>
        <td> firstName </td>
        <td> lastName </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>5 </td>
        <td> onduso </td>
        <td> zeffah </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>6 </td>
        <td> zeffah </td>
        <td> zoe </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> firstName </td>
        <td> lastName </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>5 </td>
        <td> onduso </td>
        <td> zeffah </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>6 </td>
        <td> zeffah </td>
        <td> zoe </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> firstName </td>
        <td> lastName </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>5 </td>
        <td> onduso </td>
        <td> zeffah </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>6 </td>
        <td> zeffah </td>
        <td> zoe </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> firstName </td>
        <td> lastName </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>5 </td>
        <td> onduso </td>
        <td> zeffah </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>6 </td>
        <td> zeffah </td>
        <td> zoe </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> firstName </td>
        <td> lastName </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>5 </td>
        <td> onduso </td>
        <td> zeffah </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>6 </td>
        <td> zeffah </td>
        <td> zoe </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> firstName </td>
        <td> lastName </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>5 </td>
        <td> onduso </td>
        <td> zeffah </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>6 </td>
        <td> zeffah </td>
        <td> zoe </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> firstName </td>
        <td> lastName </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>5 </td>
        <td> onduso </td>
        <td> zeffah </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>6 </td>
        <td> zeffah </td>
        <td> zoe </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> firstName </td>
        <td> lastName </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>5 </td>
        <td> onduso </td>
        <td> zeffah </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <tr>
        <td>6 </td>
        <td> zeffah </td>
        <td> zoe </td>
        <td>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </td>
    </tr>
</table>
<script type="text/javascript">
	$(document).ready( function () {
	    $('#table_id').DataTable({
	    // "sPaginationType": "full_numbers",
	 //    "bPaginate": true,
  //   	"bJQueryUI" : true,
	 //    "iDisplayLength": 10,
		// "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
  //      "bDestroy": true,
  //      "bSort": true,
  //      "bFilter": true,
  //      "bAutoWidth": false
	    });

	    $('select').material_select();
	} );
</script>