<div class="row">
	<div class="col s12">
		<div class="container">
			<div class="card-panel row">
				<div><h4>NEW TENANT</h4></div>
				<div class="divider"></div>
				<form name="newTenant" ng-submit="tntRegister()" role="form">
					<div class="input-field col s12">
						<input id="firstname" type="text" ng-model="firstname" placeholder="First Name..." class="validate" required />
					</div>
					<div class="input-field col s12">
						<input id="lastname" type="text" ng-model="lastname" placeholder="Last Name..." class="validate" required />
					</div>
					<div class="input-field col s12">	
						<input id="mobile" type="text" ng-model="phone" placeholder="Mobile Phone..." class="validate" required />
					</div>
					<div class="input-field col s12">	
						<input id="natID" type="text" ng-model="national_id" placeholder="National ID Number..." class="validate" required />
					</div>
					<div class="input-field col s12">
	                    <select class="browser-default" ng-model="house" ng-init="houseList" ng-change="getUnits(house)" required>
	                      <option value="" disabled selected>Select House</option>
	                      <option ng-repeat="house in houseList" value="{{house.id}}">{{house.houseName}}</option>
	                    </select>
	                </div>
	                <div class="input-field col s12">
	                    <select class="browser-default" ng-model="unit" ng-init="unitList" required>
	                      <option value="" disabled selected>Select Unit</option>
	                      <option ng-repeat="unt in unitList" value="{{unt.id}}">{{unt.houseNo}}</option>
	                    </select>
	                </div>
	                <div class="input-field col s12">
	                	<button type="submit" ng-disabled="newTenant.$invalid" class="btn waves-effect waves-teal">finish</button>
	                </div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">    
/**
 * You must include the dependency on 'ngMaterial - for ngMaterial app' 
 */
  $(document).ready(function() {
    $('select').material_select();
  });
</script>