<!-- <div class="col s12"> -->
	<div class="">
		<div class="">
	      <ul class="tabs">
	        <li class="tab col s3 btn" style="background-color: #0000FF"><a ui-sref=".landlord_complaains">Complains</a></li>
	        <li class="tab col s3 btn" style="background-color: #0000FF"><a class="active" href="#/landlord-dash/landlord_updates">Updates</a></li>
	        <li class="tab col s3 btn" style="background-color: #0000FF"><a href="#/landlord-dash/landlord_recommendations">Recommendations</a></li>
	      </ul>
	    </div>
	</div>
<!-- </div> -->