<nav>
    <div class="nav-wrapper" style="padding-left: 5px">
    	<a class="brand-logo" ui-sref="home">
    		<!-- <img src="assets/img/ico.jpg" width="65px" height="65px"> -->
            Logo here
    	</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="home">About Us</a></li>
        <li><a ui-sref="home">Documentation</a></li>
        <li><a ui-sref="home">Main Site</a></li>
        <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Admin login area" ui-sref="login">Login</a></li>
        <!-- <li><a ui-sref="dashboard">Dashboard</a></li> -->
      </ul>
    </div>
</nav>