<div class="row">
	<div class="col s2">
		<ul id="staggered-list" class="side-nav fixed go" style="background-color: #0277bd">
			<br />
			<div style="text-align:center;" id="profilepic">
				<!-- <img src="http://placehold.it/250x250" alt="{{message}}" class="circle responsive-img"> <br /> -->
				{{username}}
			</div>
			<br /> <br />
			<li><a style="color: #212121" ui-sref="agent-dash">Dashboard</a></li>
			<li><a id="links" style="color: #212121"  ui-sref=".new_tenant">Manage Tenants</a></li>
			<li><a id="links" style="color: #212121" ui-sref=".broadcast">Broadcast</a></li>
			<li><a id="links" style="color: #212121" ui-sref=".reports">General Reports</a></li>
			<li><a id="links" style="color: #212121" href="" ng-click="logout()">Logout</a></li>
		</ul>
	</div>
	<div id="dash-main" class="col s12">
		<div ui-view="nav"></div>
		<div ui-view>
			<!-- Modal Structure -->
			  <div id="edit_tenant" class="modal modal-fixed-footer">
			    <div class="modal-content">
			      <h4>Edit Tenant Information</h4>
			      <p>To edit the tenant</p>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
			    </div>
			  </div>
			<!-- end of modal -->

			<div class="row padding card-panel" ng-init="houseList">
				<table datatable="ng" dt-options="dtOptions" class="row-border hover">
					<thead>
				        <tr>
				        	<th>S/No</th>
				            <th>House Name</th>
				            <th>Owner</th>
				            <th>Mobile No</th>
				        </tr>
				    </thead>
				    <tbody>
				    	<tr ng-repeat="house in houseList">
				    		<td style="border-right: 1px solid #ccc">({{$index+1}})</td>
				    		<td>{{house.houseName}}</td>
				    		<td>{{house.landlord_name}}</td>
				    		<td>{{house.landlord_phone}}</td>
				    	</tr>
				    </tbody>
				</table>
			</div>
			<div class="divider"></div>
			<div class="row padding card-panel">
				<table datatable="ng" dt-options="dtOptions" class="row-border hover" ng-init="tenantsList">
					 <thead>
				        <tr>
				        	<th>No</th>
				            <th>Tenant Name</th>
				            <th>Mobile Phone</th>
				            <th>National ID</th>
				            <th>House Name</th>
				            <th>House Unit</th>
				            <th>Action</th>
				        </tr>
				    </thead>
				    <tbody>
				    	<tr ng-repeat="t in tenantsList">
				    		<td style="border-right: 1px solid #ccc">{{$index+1}}</td>
				    		<td>{{t.fullname}}</td>
				    		<td>{{t.phone}}</td>
				    		<td>{{t.national_id}}</td>
				    		<td>{{t.houseName}}</td>
				    		<td>{{t.houseNo}}</td>
				    		<td style="border-left: 1px solid #ccc">
				    			<a href="" ng-click="modalOpen({'tenantID':t.id, 'unitID': t.unit_id})">Edit</a> &nbsp;| &nbsp;
				    			<a ng-click="delTenant({'tenantID':t.id, 'unitID': t.unit_id})" href="">Delete</a>
				    		</td>
				    	</tr>
				    </tbody>
				</table>
			</div>
			<!-- modal to edit user -->
				<div id="editTnt" class="modal modal-fixed-footer">
					<form name="tenant_edit" role="form">
						<div class="modal-content">
							<input id="id" type="text" ng-model="et_id" placeholder="tenant ID..." class="validate" required hidden />
							<input id="id" type="text" ng-model="unit_id" placeholder="unit ID..." class="validate" required hidden />
							<div class="input-field col s12">	
								<input ng-model="data.phone" id="mobile" ng-init="data.phone = '{{phoneNumber}}'" type="text" value="{{phoneNumber}}" class="validate" required />
							</div>
							<div class="input-field col s12">
			                    <select class="browser-default" ng-model="data.house" ng-init="houseList" ng-change="getUnits(data.house)" required>
			                      <option value="" disabled selected>Select House</option>
			                      <option ng-repeat="house in houseList" value="{{house.id}}">{{house.houseName}}</option>
			                    </select>
			                </div>
			                <div class="input-field col s12">
			                    <select class="browser-default" ng-model="data.unit" ng-init="unitList" required>
			                      <option value="" disabled selected>Select Unit</option>
			                      <option ng-repeat="unt in unitList" value="{{unt.id}}">{{unt.houseNo}}</option>
			                    </select>
			                </div>
		                </div>
	                    <div class="input-field col s12 modal-footer">
	                        <button type="submit" ng-click="editTenant(data)" ng-disabled="tenant_edit.$invalid || dataLoading" class="modal-action modal-close waves-effect waves-green btn" style="background-color: #0000ff">Edit</button>
	                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
	                    </div>
					</form>
				</div>
			<!-- end of modal edit tenant -->
		</div>
		<div ui-view="footer"></div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready( function () {

	    // Material select
	    $('select').material_select();
	    // $('.collapsible').collapsible();
	} );
</script>

