<!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>

  <script type="text/javascript">    
/**
 * You must include the dependency on 'ngMaterial - for ngMaterial app' 
 */
  $(document).ready(function() {
  	$('#modal1').openModal();
    $('select').material_select();
  });
</script>