<div class="row">
	<!-- <div ui-view="tabs"></div> -->
	<div class="col s12">
	<!-- <button class="btn-flat">Create pdf Report</button> -->
		<!-- Modal Structure -->
	  <div id="reply" class="modal modal-fixed-footer">
	  <form ng-submit="reply()" name="replyForm" role="form">
	  	<div class="modal-content">
	      <h4>Reply to Tenants</h4>
	      <textarea ng-model="msg_reply" placeholder="Reply here..."></textarea>
	      {{msg_reply}}
	    </div>
	    <div class="modal-footer">
	      <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Reply</button>
	    </div>
	  </form>
	  </div>
	<!-- end of modal -->
		<div class="card-panel">
			<table datatable="ng" dt-options="dtOptions" ng-init="msgs">
				<thead>
					<tr>
						<td>Broadcast Message</td>
						<td>Sender</td>
						<td>Mobile No</td>
						<td>House Name</td>
						<td style="border-left: 1px solid #ccc">Action</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="msg in msgs">
						<td>{{msg.msg_content}}</td>
						<td>{{msg.sender_name}}</td>
						<td>{{msg.sender_phone}}</td>
						<td>{{msg.houseName}}</td>
						<td style="border-left: 1px solid #ccc">
							<a href="" id="msg.msg_id" ng-click="openModal(msg.msg_id)" class="">Reply</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="card-panel">
			<h4>Messages from Landlords</h4>
			<table datatable="ng" dt-options="dtOptions" class="form" id="" ng-init="agentMsgs">
				<thead>
					<tr>
						<td>Title</td>
						<td>Sender</td>
						<td>Mobile No</td>
						<td>Message</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="msg in agentMsgs">
						<td>{{msg.title}}</td>
						<td>{{msg.fullname}}</td>
						<td>{{msg.phone}}</td>
						<td>{{msg.content}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>