<div class="row">
	<div ui-view="tabs"></div>
	<div class="card-panel col s12">
	<button class="btn-flat" ng-click="printDocument()" id="create_pdf">Create pdf Report</button>
		<!-- Modal Structure -->
	  <div id="reply" class="modal modal-fixed-footer">
	  <form ng-submit="reply()" name="replyForm" role="form">
	  	<div class="modal-content">
	      <h4>Reply to Tenants</h4>
	      <textarea ng-model="msg_reply" placeholder="Reply here..."></textarea>
	      {{msg_reply}}
	    </div>
	    <div class="modal-footer">
	      <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Reply</button>
	    </div>
	  </form>
	  </div>
	<!-- end of modal -->
		<table datatable="ng" class="form" dt-options="dtOptions" ng-init="tenantComplains">
			<thead>
				<tr>
					<td>Broadcast Message</td>
					<td>Sender</td>
					<td>Mobile No</td>
					<td>House Name</td>
					<td>Agent Response</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="msg in tenantComplains">
					<td>{{msg.msg_content}}</td>
					<td>{{msg.sender_name}}</td>
					<td>{{msg.sender_phone}}</td>
					<td>{{msg.houseName}}</td>
					<td>{{msg.reply}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
