<div ui-view="nav"></div>
<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="col s3">
				<div class="collection">
			        <a ui-sref="landlord-dash" id="" class="collection-item">Dashboard</a>
			        <a ui-sref=".new_house" id="" class="collection-item">Manage House</a>
			        <a ui-sref=".landlord_complains" class="collection-item">Complains</a>
			        <a ui-sref=".landlord_updates" class="collection-item">Updates</a>
			        <a ui-sref=".landlord_recommendations" class="collection-item">Recommendations</a>
			        <a href="" ng-click="logout()" class="collection-item">Logout</a>
			    </div>
			</div>
			<div class="col s9">
				<div ui-view>
					<!-- table of agents and their houses -->
					<table datatable="ng" dt-options="dtOptions" class="row-border hover" ng-init="Agents">
						 <thead>
					        <tr>
					        	<th>S/No</th>
					            <th>House Name</th>
					            <th>Agent</th>
					            <th>Action</th>
					        </tr>
					    </thead>
					    <tbody>
					    	<tr ng-repeat="t in Agents">
					    		<td style="border-right: 1px solid #ccc">{{$index+1}}</td>
					    		<td>{{t.houseName}}</td>
					    		<td>{{t.agentCo}}</td>
					    		<td style="border-left: 1px solid #ccc">
					    			<a href="" data-target="edit_tenant" ng-click="">Edit</a> &nbsp;| &nbsp;
					    			<a ng-click="delHouse({'id':t.id, 'houseID': t.house_id})" href="">Delete</a>
					    		</td>
					    	</tr>
					    </tbody>
					</table>
					<!-- end of list of agents / house -->
				</div>
			</div>
		</div>
	</div>
</div>