
<div class="row">
	<div class="container col s12">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">Register Your Houses</div>
				<div class="collapsible-body">
					<form name="my_houses" ng-submit="myHouses()" role="form">
						<div class="input-field col s12">
							<input id="housename" type="text" ng-model="housename" class="validate" required />
							<label for="house_name">House Name</label>
						</div>
						<div class="input-field col s12">
							<input id="unit_no" type="text" ng-model="capacity" class="validate" required />
							<label for="house_name">Capacity (The number of units in this house)</label>
						</div>
						<div class="input-field col s12" style="padding-bottom: 4px">
							<button style="width: 100%" type="submit" ng-disabled="my_houses.$invalid" class="btn waves-effect waves-teal">finish</button>
						</div>
					</form>
				</div>
			</li>
			<li>
				<div class="collapsible-header">Assign units to houses</div>
				<div class="collapsible-body">
					<form name="units" ng-submit="houseUnits()" role="form">
						<div class="input-field col s12">
						    <select class="browser-default" ng-model="houses" name="house" id="hou" ng-init="allHouses" required>
						      <option value="" disabled selected >Select Your House</option>
						      <option ng-repeat="hao in allHouses" value="{{hao.id}}"><div>{{hao.houseName}}</div></option>
						    </select>
						</div>
						<div class="input-field col s12">
							<input id="unit_no" type="text" ng-model="unit_no" class="validate" required />
							<label for="house_name">Unit Number</label>
						</div>
						<div class="input-field col s12" style="padding-bottom: 4px">
							<button style="width: 100%" type="submit" ng-disabled="units.$invalid" class="btn waves-effect waves-teal">finish</button>
						</div>
					</form>
				</div>
			</li>
			<li>
				<div class="collapsible-header">Assign House to agent</div>
				<div class="collapsible-body">
					<form name="hseAgent" ng-submit="assignHouse()" role="form">
						<div class="input-field col s12">
						    <select class="browser-default" ng-model="house" name="agent" id="hse" ng-init="mHseList" required>
						      <option value="" disabled selected>Select House</option>
						      <option ng-repeat="h in mHseList" value="{{h.id}}">{{h.houseName}}</option>
						    </select>
						</div>
						<div class="input-field col s12">
						    <select class="browser-default" ng-model="agents" name="agent" id="agent" ng-init="agentList" required>
						      <option value="" disabled selected>Select Agent</option>
						      <option ng-repeat="a in agentList" value="{{a.id}}">{{a.company}}</option>
						    </select>
						</div>
						<div class="input-field col s12" align="right" style="padding-bottom: 4px">
							<button style="" type="submit" ng-disabled="hseAgent.$invalid" class="btn waves-effect waves-teal">finish</button>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- <div class="divider"></div> -->

<script type="text/javascript">    
/**
 * You must include the dependency on 'ngMaterial - for ngMaterial app' 
 */
  $(document).ready(function() {
    $('select').material_select();
    $('.collapsible').collapsible({accordion: false});
  });
</script>