<nav style="background-color: #fff">
    <div class="" style="padding-left: 5px">
      <a class="brand-logo" ui-sref="home">
        <!-- <img src="assets/img/ico.jpg" width="65px" height="65px"> -->
        Logo here
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="color: #000" class="dropdown-button" data-activates="dropdown_list">Send Message</a></li>
          <ul id="dropdown_list" class="dropdown-content">
            <li><a href="" ui-sref=".broadcast_to_tenants">Tenants</a></li>
            <li><a href="" ui-sref=".landlord_message">Landlord</a></li>
          </ul>
        <li><a style="color: #000">Logged in as {{username}}</a></li>
      </ul>
    </div>
</nav>
<script type="text/javascript">
 $(document).ready(function(){
    // $('.tooltipped').tooltip({delay: 50});
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: true,
      hover: true,
      gutter: 0,
      belowOrigin: true,
      alignment: 'left'
    });
  });
</script>